/* Styling for Mobile Devices */

/* Generic Styling for page */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

/* Styling for nav */
ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
}

p {
  border-left: 3px solid #69696a;
  padding: 5px 10px;
}
