/* Styling for Mobile Devices */

/* Basic styling for page */
* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

/* Styling for the header */
header {
  margin: 15px 15px;
}

/* Styling for body */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

/* Styling for navbar container */
/* nav {
  padding: 15px 15px;
} */

/* Styling for logo */
.logo {
  color: #000;
}

/* Remove bullet points from ul list items */
.nav-links {
  list-style: none;
}

/* Styling for nav bar list items */
.nav-item {
  margin: 10px 0;
}

/* Styling for navbar links and various link states */
.nav-item a:link {
  text-decoration: none;
  color: #69696a;
}

.nav-item a:visited {
  text-decoration: none;
  color: #69696a;
}

.nav-item a:hover {
  text-decoration: none;
  color: #69696a;
}

.nav-item a:active {
  text-decoration: none;
  color: #69696a;
}

/* Styling for the two buttons and their various states */
button {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

button:link {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button:visited {
  cursor: pointer;
}

button:active {
  cursor: pointer;
}

/* Styling for main section */
.container {
  padding: 15px 15px;
}

/*Styling for the h2 in the minn-text div */
h2 {
  font-weight: 500;
}

/* Styling for main paragraph */
.container p {
  color: #69696a;
  border-left: 3px solid #69696a;
  margin: 20px 0 30px 0;
  padding: 0px 15px;
}

/*Styling for the hidden div */
.hidden {
  visibility: hidden;
}

/* Styling for medium devices + (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Styling for header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Styling for nav */
  nav {
    display: flex;
  }
  /* Styling for nav ul */
  .nav-links {
    display: flex;
  }
  /* Styling for nav ul li items */
  .nav-item {
    padding: 0 10px;
  }
  /* styling for buttons */
  button {
    width: auto;
    padding: 10px 15px;
  }
  /* Stlying for the main container */
  .container {
    position: relative;
    margin-top: 75px;
    padding-top: 0;
  }
  /* Styling for the scroll down button */
  .scroll-button {
    position: fixed;
    bottom: 5px;
    left: 45%;
  }
  /* Styling for main-text div */
  .main-text {
    float: left;
    width: 50%;
  }
  /* Styling for hidden div */
  .hidden {
    visibility: visible;
    float: right;
  }
  /* Styling for red circle */
  .red-circle {
    background-color: rgba(247, 136, 167, 0.6);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 140px;
    z-index: 1;
  }
  /* Styling for orange circle */
  .orange-circle {
    background-color: rgba(247, 193, 162, 0.7);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 175px;
    right: 20px;
    z-index: 3;
  }
  /* Styling for purple circle */
  .purple-circle {
    background-color: rgba(207, 130, 213, 0.6);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 2;
  }
  /* Using clearfix method to clear floats in .hidden and .main-text divs */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
